<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    {% load static %} {% load bootstrap5 %} {# Load Bootstrap CSS #} {% bootstrap_css %}
</head>
<body>
    {% include 'study_spaces/navbar.html' %} 
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <p>Account Name: {{user.email}}</p>
        <p>Username: {{user.get_username}}</p>
        <p>Hello, Admin</p>
        <a href="logout">Logout</a>
        {% endif %}
    </div>
</body>
