<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NavBar</title>

		{% load static %} {% load bootstrap5 %} {% bootstrap_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}" />
	</head>
	<body>
		<nav id="global-navbar" class="navbar navbar-expand-lg primary">
			<div class="container-fluid">
				<h1 class="navbar-brand m-2">UVAStudySpaces</h1>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item mx-2 my-1">
							<a class="nav-link {% if request.path == '/study/' %}nav-active{% endif %}" href="/study/">Home</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link" href="/study/route">Directions</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link" href="#">Favorites</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link" href="/study/profile">Profile</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link" href="/study/submission">Submit a Study Space</a>
						</li>
					</ul>
					<div class="nav-item my-1">
						<a class="nav-link" href="{% url 'study_spaces:logout' %}"> Logout </a>
					</div>
				</div>
			</div>
		</nav>
	</body>
</html>
