<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
	</head>
	<body>
		{% include 'study_spaces/navbar.html' %}
		<div class="container-fluid">
        {% if user.is_authenticated %}
            <p>Account Name: {{user.email}}</p>
            <p>Username: {{user.get_username}}</p>
			{% if is_admin %}<p>You are an admin</p>{% endif %}
            <a href="logout">Logout</a>
		{% endif %}
		</div>
	</body>
</html>