<!-- https://github.com/bobby-didcoding/did_django_google_maps_api -->
{% extends 'study_spaces/base.html' %}
{% load static %} {% load bootstrap5 %} {# Load Bootstrap CSS #} {% bootstrap_css %}


{% block extend_head %}

<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
{% include 'study_spaces/navbar.html' %}

{% endblock %}

{% block extend_nav %}

<ul class="sidenav">
  <li><a class="active" href="{% url 'study_spaces:route' %}">Demo Routing</a></li>
  <li><a href="javascript:void(0)" onclick="alert('Please add a start and end address')">Demo Map</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Study Space Routing</h3>

<div class="container">

   <label for="id-google-address-a">Current Address</label>
   <input type="text" placeholder="Type Address Here" id="id-google-address-a" name="google_address_a">

   <label for="id-google-address-b">Study Space Address</label>
    <input type="text" placeholder="Type Address Here" id="id-google-address-b" name="google_address_b"
        {% if dest_address %}
           value="{{ dest_address }}"
        {% endif %}
           >


   <input type="hidden" class="geo" id="id-lat-a" value="">
   <input type="hidden" class="geo" id="id-long-a" value="">
   <input type="hidden" class="geo" id="id-lat-b" value="">
   <input type="hidden" class="geo" id="id-long-b" value="">


</div>

{% endblock %}

{% block extend_footer %}


<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";

  </script>

  <script src="{% static 'google_places.js' %}"></script>


{% endblock %}