<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Study Spaces</title>

		{% load static %} {% load bootstrap5 %} {# Load Bootstrap CSS #} {% bootstrap_css %}

		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script>
			let map
			function initMap() {
				map = new google.maps.Map(document.getElementById("map"), {
					center: { lat: 38.03413872243867, lng: -78.50873523191473 },
					zoom: 16,
				})

				const modData = JSON.parse("{{ mod_json|escapejs }}")
				const markers = modData.map((i) => {
					const marker = new google.maps.Marker({
						position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude) },
						map: map,
					})
				})
			}
			window.initMap = initMap
		</script>
	</head>
	<body>
		{% include 'study_spaces/navbar.html' %}
		<h1>UVA Study Spaces</h1>
		<div style="height: 500px; width: 100%">
			<div id="map" style="height: 100%"></div>
			<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly" defer></script>
		</div>
		{% block content %} {% for x in mod %}
		<br />
		{{x.name }}
		<br />
		{{x.address }}
		<br />
		<a href="{% url 'study_spaces:route' %}?dest={{ x.id }}">Get directions</a>
		<br />
		{% endfor %} {% endblock content %}
	</body>
</html>
